django
djangorestframework
django-cors-headers
google-genai
djangorestframework-simplejwt
python-dotenv
Pillow
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
psycopg2-binary
gunicorn
dj-database-url
whitenoise


