# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native & Signing Keys (CRITICAL SECURITY)
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.pem
*.keystore
*.mobileprovision
debug.keystore

# Metro
.metro-health-check*

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
Thumbs.db

# Local environment & secret files (CRITICAL SECURITY)
.env
.env.local
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
